extends layout

block content
  h1 #{title}
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum libero eros, sed tristique sem venenatis a. Vivamus eleifend et lorem a lobortis. Nunc mauris orci, vestibulum sit amet ornare nec, viverra sit amet tortor. Praesent commodo id ante ac feugiat. Praesent massa lectus, mattis sed odio et, consequat condimentum turpis. Pellentesque efficitur nibh est, vel sodales dui tempus eget. Donec vitae elit tristique, varius urna a, tincidunt enim. Maecenas vel quam risus. Praesent eget purus dapibus, posuere augue in, venenatis justo. Quisque pretium arcu non volutpat dictum.
